/* Stylesheet */

/* Review Assignment by HTML, CSS, and XML 4th Edition

/* Font */
@font-face { //set a font face
  font-family: 'CloisterBlack';
  src: url('CloisterBlack.eot');
  src: local(':&'),
    url('CloisterBlack.woff') format('woof'),
    url('CloisterBlack.ttf') format('truetype'),
    url('CloisterBlack.svg#cloister') format('svg');
}

/*Body Styles */

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}

/* Nav Styles */
nav ul{
    background-color: rgb(248, 175, 175);
    line-height: 3.5em;
    list-style-type: none;
    padding-left: 0px;
    text-indent: 5px;

}


 nav ul li:first-of-type {
   font-size: 150%;
   text-transform: uppercase;
   font-weight: bold;

 }

 nav ul li a{
   text-decoration: none;
   color: white;
 }

 nav ul li a:hover {
   background-color: rgb(148,51,62);
   color: yellow;
 }

 figure {
   background-color: rgb(248, 175, 175);
   text-align: center;
   font-size: 14px;
   font-style: italic;
 }

section h1 {
  background-color: rgb(148,51,62);
  color: white;
  font-family: 'CloisterBlack', 'fantasy';
  font-size: 2.5em;
  font-weight:  normal;
  letter-spacing: 0.3em;
  line-height: 2em;
  text-indent: 5em;
}

section h2 {
  background-color: rgb(182, 134, 52);
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-weight: normal;
  letter-spacing: 0.7em;
  text-indent: 1em;
}
section h2+ul {
  list-style-image: url(flake.png);
}

footer address{
  background-color: rgb(148, 51, 62);
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-style: normal;
  font-variant: small-caps;
  font-size: 0.8em;
  line-height: 4em;
  font-family: 'Palantino Linotype', 'Book Antiqua', 'Palatino', 'serif';
  text-align: center;

}
